.element-description {
  padding: 16px;
  display: inline-flex;
}
.review-description {
  padding: 0 16px;
  display: flex;
}
.review-username {
  padding: 16px;
  display: inline-flex;
  position: relative;
  right: 0;
}
