<div class="form-container mat-elevation-z5">
    <h1>Sign in to an existing account</h1>
    <form [formGroup]="forgotForm" (ngSubmit)="submit()">
        <div class="margin-botton">
            <span class="">New to Music Library? <a class="signup-link" routerLink="/sign-up">Sign up!</a></span>
        </div>
        
        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" type="email">
            <mat-error *ngIf="email?.errors?.['required']">
                Email is required
            </mat-error>
        </mat-form-field>

        <button class="margin-top" mat-raised-button color="primary" type="submit">
            Reset Password
        </button>
    </form>
</div>