<mat-form-field class="review-full-width">
    <mat-select #rating placeholder="Rating" [(value)]="selected" [formControl]="ratingFormControl">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
    </mat-select>
    <mat-error *ngIf="ratingFormControl.hasError('required')">
        Rating is <strong>required</strong>
    </mat-error>

</mat-form-field>
<mat-form-field class="review-full-width">
    <textarea matInput #review maxlength="300" placeholder="Leave a Review"
        [formControl]="reviewFormControl"></textarea>
    <mat-hint align="end">{{review.value.length}} / 300</mat-hint>
    <mat-error *ngIf="reviewFormControl.hasError('pattern') && !reviewFormControl.hasError('required')">
        Invalid Character
    </mat-error>
    <mat-error
        *ngIf="reviewFormControl.hasError('minlength') && !reviewFormControl.hasError('required') && !reviewFormControl.hasError('pattern')">
        Minimum Length of Review is 3
    </mat-error>
    <mat-error *ngIf="reviewFormControl.hasError('required')">
        Review is <strong>required</strong>
    </mat-error>
</mat-form-field>


<p>
    <button mat-raised-button color="primary" (click)="onSubmit()"> Submit Review </button>
    <button mat-raised-button color="warn" type="reset">Clear</button>
</p>