<div class="about">
    <p> <strong>About: </strong> Music Library is where users can review their favourite songs and share their playlists with fellow users. 
        to know more.  <br>
        Once logged in, users can add a review, ratings, create a custom playlist and also add songs.</p>

</div>


 <div class="button-search">
    <div><span>Begin your journey with Music Library</span></div> <br>
    <ng-container>
        <button mat-raised-button color="primary" routerLink="home">
          <mat-icon>music_note</mat-icon>
          Search Music
       </button> 
      </ng-container>
    
 </div>
